<div class="row align-items-center justify-content-center text-center">
  <div class="col-md-4 m-3">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group d-inline-flex">
        <input type="text" id="city" class="form-control mr-2" name="city"
               placeholder="Enter City name" ngModel (input)="onSearchLocation(input.value)" #input required>
        <button type="submit" class="btn btn-dark">Add City</button>
      </div>
    </form>
    <div>
      <b class="">City found:</b>{{ data.name }}
    </div>
  </div>
</div>