<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular5WeatherApp</title>
</head>
<body>
    <header class="alert alert-warning">
        <h1 class="text-center m-5 ">Angular Weather App</h1>
    </header>
    <div class="container">
        <app-weather-search></app-weather-search>
        <app-weather-list></app-weather-list>
    </div>
</body>
</html>